<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv= "X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Você Aluga</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="bg-image"></div>
    <div class="filter-blur"></div>
    <div class="login-container">
        <img src="logovcaluga.jpg" alt="Você Aluga" class="logo">
        <input placeholder="Usuário" type="text">
        <input placeholder="Senha" type="password" >
        <p class="forgot-password">Esqueci minha senha</p>
        <p class="sign-up"> Ainda não é cliente? <a href="#">Cadastrar-se</a></p>
        <button>Entrar</button>
    </div>
</body>
</html>