<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Você Aluga - Pesquisa de Usuário</title>
</head>
<body>
    <div class="container">
        <h1>Pesquisa de Usuários</h1>
        <input type="text" id="searchInput" placeholder="Digite o nome do usuário">
        <button onclick="search()">Pesquisar</button>
        <div id="results"></div>
    </div>

    <script src="script_user.js"></script>
</body>
</html>