<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Registro de Usuário</title>
</head>
<body>
    <div class="bg-image"></div>
    <div class="filter-blur"></div>
    <h2>Registro de Usuário</h2>
    <form id="registro-form">
        <!-- Campos para Pessoa Física -->
        <div id="pessoa_fisica_fields">
            <label for="nome_completo">Nome Completo:</label>
            <input type="text" name="nome_completo" required><br>

            <label for="email">Email:</label>
            <input type="email" name="email" required><br>

            <label for="senha">Senha:</label>
            <input type="password" name="senha" required><br>

            <label for="data_nascimento">Data de Nascimento:</label>
            <input type="date" name="data_nascimento" required><br>

            <label for="cpf">CPF:</label>
            <input type="text" name="cpf"><br>

            <label for="cpf">CNPJ:</label>
            <input type="text" name="cnpj"><br>
        </div>
        <!-- Campos para Pessoa Jurídica -->
        <div id="pessoa_juridica_fields" style="display: none;">
            <label for="razao_social">Razão Social:</label>
            <input type="text" name="razao_social" required><br>

            <label for="cnpj">CNPJ:</label>
            <input type="text" name="cnpj" required><br>
        </div>
        <div>
            <input type="radio" name="tipo_cliente" value="adm" id="adm_radio" checked> Administrador
            <input type="radio" name="tipo_cliente" value="user" id="usr_radio"> Funcionário
        </div>
        <label for="ads">CTPS:</label>
        <input type="text" name="ads" required><br>

        <input type="submit" value="Registrar">
    </form>
</body>
</html>