<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Você Aluga - Início</title>
</head>
<body>
    <header>
        <h1>Você Aluga</h1>
        <nav>
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="../cadastrov2_cliente/index.html">Cadastrar Cliente</a></li>
                <li><a href="../cadastrov2_usuario/index.html">Cadastrar Funcionário</a></li>
                <li><a href="../login/index.html">Login</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <h2>Alugue um Grupo de Veículos Agora!</h2>
        <p>Explore nossa ampla seleção de veículos e escolha o que se adequa às suas necessidades.</p>
        <h3>Veja as opções disponíveis abaixo</h3>
    </section>

    <section class="features">
        <div class="feature">
            <img src="../resources/img/audi_sml.jpg" alt="Car Icon">
            <h3>Grupo 1</h3>
            <a href="#" class="btn">Alugar Carros</a>
            <p>Escolha entre uma ampla variedade de modelos de carros, desde compactos até SUVs.</p>
        </div>
        <div class="feature">
            <img src="../resources/img/van_sml.jpg" alt="Van Icon">
            <h3>Grupo 2</h3>
            <a href="#" class="btn">Alugar Vans</a>
            <p>O processo de aluguel é simples e fácil. Reserve o seu carro em poucos cliques.</p>
        </div>
        <div class="feature">
            <img src="../resources/img/bus_sml.jpg" alt="Bus Icon">
            <h3>Grupo 3</h3>
            <a href="#" class="btn">Alugar Ônibus</a>
            <p>Nosso suporte ao cliente está disponível 24 horas por dia, 7 dias por semana para ajudá-lo.</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 Você Aluga</p>
    </footer>
</body>
</html>