body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.hero {
    text-align: center;
    padding: 2em;
    background-color: #f2f2f2;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    background-color: #fff;
}

.feature {
    text-align: center;
}

.feature img {
    width: 80px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.bg-image {
    background-image: url("../resources/img/car.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200%;
    width: 100%;
    -webkit-backdrop-filter: blur(15px); /* Add prefix for Safari */
    backdrop-filter: blur(15px);
    position: fixed;
    z-index: 1;
}
.filter-blur{
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px); 
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
}