body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    color: #000000;
    margin-top: 0px;
    padding-top: 2rem;
}

label {
    display: block;
    margin-top: 10px;
    color: #ffffff;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="tel"] {
    width: 20rem;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#pessoa_juridica_fields {
    display: none;
}
.bg-image {
    background-image: url("../resources/img/car.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    position: fixed;
    z-index: -2;
}
.filter-blur{
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#registro-form {
    display: block;
    background-color: rgb(35,67,114);
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255)fff;
    border-radius: 5px;
    z-index: 1;
}