<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>O que você quer buscar?</title>
</head>
<body>
    <div class="container">
        <h1>Buscar</h1>
        <label for="vehicleType">O que você quer buscar?</label>
        <select id="vehicleType">
            <option value="filial" id="filial">Filial</option>
            <option value="locacao_veiculo" id="locacao_veiculo">Locação Veículo</option>
            <option value="motorista" id="motorista">Motorista</option>
            <option value="usuario" id="usuario">Usuário</option>
            <option value="veiculo" id="veiculo">Veículo</option>
        </select>
        <button onclick="goToSearch()">Próximo</button>
    </div>

    <script src="script.js"></script>
</body>
</html>
